@font-face {
  font-family: "iconfont"; /* Project id 3237086 */
  src: url('iconfont.woff2?t=1646903962903') format('woff2'),
       url('iconfont.woff?t=1646903962903') format('woff'),
       url('iconfont.ttf?t=1646903962903') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_yibiaoban:before {
  content: "\e61a";
}

.icon-icon_shouye:before {
  content: "\e61b";
}

.icon-icon_shujuyuan:before {
  content: "\e61c";
}

.icon-icon_xitongguanli:before {
  content: "\e61d";
}

.icon-icon_shujuji:before {
  content: "\e61e";
}

